@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 800px;
}

body {
  background-color: #525252;
  color: #FFF;
}

header {
  background-color: #333;
  color: #FFF;
}

footer {
  background-color: #333;
  color: #FFF;
}

.modal-content {
  background-color: #333;
  color: #FFF;
}

#footer {
  height: 5em;
}

#content {
  margin: 2em auto;
}

#form-container {
  background-color: #333;
  padding: 2em;
}

#table-holder{
  margin: 10px 0 0 0;
  padding: 2em;
  background-color: #333;
  display: none;
}

/** Bootstrap Dark Modal Styles **/
.modal-open .modal, .btn:focus {
  outline: none !important;
}

.modal.dark { background-color: #2d3032; }
.modal.dark .modal-body {
  background: #40464b;
}

.modal.dark .modal-header {
  background: #2d3032;
  border-bottom: 1px solid #2a2c2e;
}
.modal.dark .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
  color: #ccc;
}

.modal.dark .modal-footer {
  background: #2d3032;
  border-top: 1px solid #2a2c2e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}