<table class="table table-condensed">
    <thead class="thead">
    <tr>
        <th id="id">ID</th>
        <th id="imsi">IMSI</th>
        <th id="msisdn">MSISDN</th>
        <th id="title">TITLE</th>
        <th id="status">STATUS</th>
        <th id="actions">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
