<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>IMSI</th>
        <th>MSISDN</th>
        <th>TITLE</th>
        <th>STATUS</th>
        <th>ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
 </table>
