{{!empty TicketviewTmpl template}}

<div class="container">
    <div id="form-container">
        <form>
            <label for="imsi">Enter IMSI</label>
            <input type="text" value="" id="imsi"/>
            <input type="submit" id="submit"/>
        </form>
        <div id="errorText"></div>
        <div id="table-holder"></div>
    </div>
</div>
