

<header id="#header">
    <div class="container">
        <h1><img src="images/logo.png" /> {{headerTitle}}</h1>
    </div>
</header>

<div id="content">

 </div>

<footer id="footer">
    <div class="container">
        Powered by Tektronix
    </div>
</footer>